.close-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 23px;
  height: 23px;
  cursor: pointer;
  &::before,
  &::after {
    content: '';
    position: absolute;
    height: 23px;
    width: 2px;
    background-color: #dee1e8;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
}
