.person {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 15px 0;
  &-avatar {
    min-width: 70px;
    min-height: 70px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    &_big {
      min-width: 90px;
      min-height: 90px;
    }
  }
  .person-name {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    a {
      color: currentColor;
    }
  }
}
