@import "~styles/elements/news";
.news {
  &-content {
    &-top {
      &__left {
        padding-top: $page-content-top;
      }
      &__title {
        margin-bottom: 30px;
      }
    }
    &-main {
      padding: rem(50px) 0;
      .news-row {
        margin-bottom: 50px;
      }
    }
  }
  &-tab {
    &-item {
      margin-right: 40px;
    }
  }
}
