@mixin position($top: null, $right: null, $bottom: null, $left: null) {
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

@mixin absolute($top: null, $right: null, $bottom: null, $left: null) {
  position: absolute;
  @include position($top, $right, $bottom, $left);
}
