$line-height: 1.33;
$border-radius: 4px;
$root-font-size: 16px;
$page-content-top: 31px;

// Bootstrap Colors
$indigo: #985eff !default;
$purple: #814bf5 !default;
$pink: #ff7575 !default;
$orange: #fd7e14 !default;
$teal: #55d1a4 !default;

$primary: #2b78fe !default;
$success: #87d227 !default;
$info: #01b0d7 !default;
$warning: #ffa800 !default;
$danger: #ff563f !default;

// Colors
$main-text-color: #353d54;
$black-transparent: rgba(53, 61, 84, 0.5);

// Gray
$light-gray: #f0f1f4;
$gray: #e5e5e5;
$label-gray: #9a9eaa;
$table-light-gray: #f5f6f8;
$dark-gray: #535a6e;
$legend-gray: #c1c3c8;
$gray-border: #dee2e6;
$gray-border-second: #e2e5eb;

// Purple
$purple-link: #6235b0;
$purple-pink: #c055d1;
$light-purple: #9559ff;

$light-blue: #8295fa;
$orange: #ffbb49;
$turquoise: #20cbac;
$light-red: #ff7979;
// Divisions dropdown colors

$primary-lucid: #eff5ff;
$light-blue-lucid: #eaedfd;
$orange-lucid: #fff7e9;
$success-lucid: #f5ffe7;
$turquoise-lucid: #e8fffb;
$info-lucid: #e4faff;
$purple-link-lucid: #f0e8ff;
$light-purple-lucid: #F4EEFF;
$purple-pink-lucid: #F9EEFB;
$light-red-lucid: #fdebeb;
$danger-lucid: #ffece9;
